Define your seat styles here

/* seat.module.css */
.available {
  background-color: lightgray; /* Default color for available seats */
  color: black;
  margin: 4px;
}
.priceContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainscreenconatiner{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screenContainer {
  height: 10px;
  width: 90%;
  background-color: rgb(50, 50, 50);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  /* Curving effect from the center */
  border-radius: 50% 50% 0 0; /* Only the bottom edges are curved */
  transform: scaleY(2); /* Controls how deep the curve appears */
  position: relative;
}
.allEyesThisWay{
  color: aliceblue;
  font-size: 10px;
}

.seatContainer{
  /* min-width: fit-content; */
  max-width: 100%;
  overflow-y: auto;
  /* background-color: aquamarine; */
}
.subpriceContainer{
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  margin-top: 20px;
}

.headercontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.btncontainer{
  width: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed; /* Show that the seat is not selectable */
}

.bookbutton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.booked {
  background-color: rgb(145, 145, 145); /* or any color to indicate booked */
  color: white;
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

.selected {
  background-color: red; /* Change selected seat color to red */
  color: white;
  margin: 4px;
}

.seatButton {
  min-width: 40px; /* Minimum width for the button */
  height: 40px; /* Fixed height for buttons */
  margin: 2px; /* Margin for spacing between buttons */
  font-size: 0.75rem; /* Font size for seat labels */
}

/* Responsive styles for different screen sizes */
@media (max-width: 1200px) {
  .seatButton {
    width: 30px; /* Reduce width on smaller screens */
    height: 30px; /* Adjust height for smaller buttons */
    font-size: 0.65rem; /* Smaller font size */
  }
}

@media (max-width: 768px) {
  .seatButton {
    width: 25px; /* Further reduce width for even smaller screens */
    height: 25px; /* Further adjust height */
    font-size: 0.55rem; /* Even smaller font size */
  }
}
  
@media (max-width: 480px) {
  .seatButton {
    width: 20px; /* Minimum width for mobile */
    height: 20px; /* Minimum height for mobile */
    font-size: 0.5rem; /* Minimum font size for mobile */
  }
}