Define your seat styles here

/* seat.module.css */
.available {
  background-color: lightgray; /* Default color for available seats */
  color: black;
  margin: 4px;
}

.disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed; /* Show that the seat is not selectable */
}

.bookbutton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.booked {
  background-color: rgb(145, 145, 145); /* or any color to indicate booked */
  color: white;
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

.selected {
  background-color: red; /* Change selected seat color to red */
  color: white;
  margin: 4px;
}


.seatButton {
    min-width: 0;
    width: 100%;
    height: 40px;
    margin: 2px;
    font-size: 0.75rem;
  }
  

  @media (max-width: 1200px) {
    .seatButton {
      height: 30px; 
      font-size: 0.6rem; 
    }
  }
  
  @media (max-width: 768px) {
    .seatButton {
      height: 25px;
      font-size: 0.5rem; 
    }
  }
  